<div id="preloader">
  <img src="/img/header.jpg">
</div>
<header class="parallax-window" data-parallax="scroll" data-image-src="/img/header.jpg">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Descubre tu creatividad</h1>
      <hr>
      <p>En el Reino de la Imaginación no hay fronteras de lo imposible.<br/>Lo increíble es que nosotros lo hacemos realidad</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">¿ cómo ?</a>
    </div>
  </div>
</header>
