<div id="preloader">
  <img src="/img/header.jpg">
</div>
<header class="parallax-window" data-parallax="scroll" data-image-src="/img/header.jpg">
  <div class="header-content">
    <div class="header-content-inner">

      <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/7RjK9xJn8yQ?html5=1&rel=0&controls=0&showinfo=0&loop=1&autoplay=1;" frameborder="0" allowfullscreen></iframe>

      <!--<h1>necesitas creatividad</h1>-->
      <!--<hr>-->
      <!--<p>En Pixel y Pincel tenemos de sobra y podemos darte la que te falta</p>-->
      <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">¿ cómo ?</a>-->
    </div>
  </div>
</header>
