<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contacta con nosotras</h2>
        <hr class="primary">
        <p>¿Quieres algo de nuestra creatividad en tu próximo proyecto?</p>

        <p>¡Genial! Mándanos un email o contáctanos por las redes y te responderemos lo antes posible</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-2 text-center contact-box">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

      <div class="col-lg-2 text-center contact-box">
        <a href="https://instagram.com/{{ site.instagram_username }}">
          <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

      <div class="col-lg-2 col-lg-offset-1 text-center contact-box">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>

          <p>{{ site.email }}</p>
        </a>
      </div>

      <div class="col-lg-2 text-center contact-box">
        <a href="https://facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

      <div class="col-lg-2   text-center contact-box">
        <a href="https://www.youtube.com/channel/UCN-IXctyF66uq2eLKNuOnNQ">
          <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

    </div>
  </div>
</section>
