<section class="bg-primary" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center wow bounceIn" data-wow-delay=".1s">
                <img src="/img/team/patricia.jpg" class="avatar">
                <h2 class="section-heading">Patricia Joven</h2>
                <hr class="light">
                <p class="text-faded">Artista multidisciplinar, licenciada en Bellas Artes y Técnica en Realización y Audiovisual y Espectáculos.</p>
                <p class="text-faded">A raíz de mi experiencia en la productora francesa “La Ménagerie”, y mi trabajo en los talleres de animación de Etopía descubrí todo un mundo de posibilidades relacionados con la aplicación del arte y la animación en la educación. Lo que ha sido el germen de este proyecto.</p>
            </div>
            <div class="col-lg-6 text-center wow bounceIn" data-wow-delay=".2s">
                <img src="/img/team/irene.jpg" class="avatar">
                <h2 class="section-heading">Irene Joven</h2>
                <hr class="light">
                <p class="text-faded">Licenciada en Derecho reconvertida en Diseñadora Gráfica con más de 10 años de experiencia.  Como es un tema que me apasiona, y además me encanta el trato con la gente, compagino mi trabajo con el de la formación, dando clases de informática y diseño gráfico.
                </p>
            </div>

        </div>
    </div>
</section>
