<div class="well well-lg">

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup label {
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      font-weight: lighter;
    }
  </style>

  <div id="mc_embed_signup">
    <form
      action="//pixelypincel.us13.list-manage.com/subscribe/post?u=626fcffb0897fa82e71bf5364&amp;id=a181817ff7"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
      target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">¿Quieres estar al tanto de lo que hacemos?<br/>Apúntate a nuestra lista y te
          mandaremos
          un email cuando organicemos el próximo taller
        </label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="tu email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                  name="b_626fcffb0897fa82e71bf5364_a181817ff7"
                                                                                  tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe"
                                  class="btn btn-ok"></div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</div>
