<!-- Begin MailChimp Signup Form -->
<div class="row well well-lg">
  <div class="col-xs-6 col-md-2 text-center">
    <img src="/img/duda.png">
  </div>

  <div class="col-xs-12 col-sm-6 col-md-10 text-center">

    <form
      action="//pixelypincel.us13.list-manage.com/subscribe/post?u=626fcffb0897fa82e71bf5364&amp;id=a181817ff7"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
      target="_blank" novalidate>
      <label for="mce-EMAIL">
        <p>¿te gustaría enterarte de nuestros próximos talleres?</p>
        <p>¡Apúntate a nuestra lista y te avisaremos!</p>
      </label>
      <br/>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="tu email" required>
      <input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe"
             class="btn btn-ok">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text"
               name="b_626fcffb0897fa82e71bf5364_a181817ff7"
               tabindex="-1" value="">
      </div>
    </form>

  </div>
</div>
<!--End mc_embed_signup-->
