{% assign talleres_activos = site.talleres | where:"taller_activo","si" %}

{% if talleres_activos.size > 0 %}
<section id="proximos-talleres">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Próximos talleres</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-centered">

      {% for taller in talleres_activos limit:3 %}

      <div class="col-lg-4 col-md-6 col-centered text-center wow bounceIn">
        <div class="proximo-taller-box" style="background-image: url({{taller.taller_imagen}})">
          <div class="proximo-taller-box-info">
            <h3>{{ taller.title }}</h3>
            <ul>
              <li class="fa fa-child"> {{taller.taller_edad}}</li>
              <li class="fa fa-calendar"> {{taller.taller_fecha}}</li>
              <li class="fa fa-map-marker"> {{taller.taller_lugar}}</li>
            </ul>

            <a href="{{taller.url}}" class="btn btn-primary btn-xl page-scroll "><i class="fa fa-info-circle"></i>
              detalles</a>

          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>

</section>
{% endif %}
