<section id="social">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Búscanos en las redes sociales</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center" id="twitter-container">
        <a class="twitter-timeline" href="https://twitter.com/PixelyPincel" data-widget-id="661224105371418624">Tweets de @PixelyPincel.</a>
      </div>
      <div class="col-lg-6 col-md-6 text-center" id="instagram-container">
      </div>
    </div>
  </div>
</section>
