<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A tu servicio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary"></i>
                    <h3>Talleres</h3>
                    <p class="text-muted">En nuestros talleres (de 5 a 105 años) aprenderás a crear pequeños cortometrajes combinando artes plásticas con tecnología.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-youtube-play wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Productos audiovisuales</h3>
                    <p class="text-muted">Ponemos nuestro arte al servicio de empresas y particulares que quieran tener contenido audiovisual de calidad.</p>
                    <p class="text-muted">Creamos vídeos con animaciones artísticas para su web, aplicación, presentación...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-youtube-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Contenido propio</h3>
                    <p class="text-muted">Nos gusta la animación y nos lo pasamos en grande trabajando, por eso creamos contenido propio que colgamos en la red.</p>
                </div>
            </div>
        </div>
    </div>
</section>
