<div class="col-lg-4 col-md-6 col-sm-12 col-centered text-center wow bounceIn">
  <div class="proximo-taller-box" style="background-image: url({{taller.taller_imagen}})">
    <div class="proximo-taller-box-info">
      <h3>{{ taller.title }}</h3>
      <ul>
        <li class="fa fa-child"> {{taller.taller_edad}}</li>
        <li class="fa fa-calendar"> {{taller.taller_fecha}}</li>
        <li class="fa fa-map-marker"> {{taller.taller_lugar}}</li>
      </ul>

      <a href="{{taller.url}}" class="btn btn-primary btn-xl page-scroll "><i class="fa fa-info-circle"></i>
        detalles</a>

    </div>
  </div>
</div>
