<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tenemos lo que necesitas</h2>
                <hr class="light">
                <p class="text-faded">En Pixel y Pincel creemos que la creatividad es importante, por eso trabajamos en ayudar a la gente a desarrollar la suya con nuestros talleres.</p>
                <p class="text-faded">También ponemos la nuestra a disposición de empresas o particulares que la necesiten.</p>
            </div>
        </div>
    </div>
</section>
